.chat{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 7px;
    flex: 1;
}
.sender {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.sender p{
    background-color: #545de6;
    padding: 5px 5px;
    border-radius: 5px 5px 0 5px;
    font-size: 12px;
    color: #FFFFFF
}


.receiver{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.receiver p{
    background-color: #d5d4e2;
    padding: 5px 5px;
    border-radius:  5px 5px 5px 0;
    font-size: 12px;
}

.textBox{
    width: '100%';
    flex: 1;
    border-radius: 8px;
    background-color: #d5d4e2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.textarea{
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    font-size: 12px;
}

.textareaIconsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.attachmentBtn{
    border: none;
    outline: none;
    margin-left: 10px;
    background: none;
    cursor: pointer;
}
.emojiBtn{
    border: none;
    outline: none;
    margin-left: 10px;
    background: none;
    cursor: pointer;

}

.textareaIconsContainer button img{
    width: 15px;
    height: 15px;
}