.avatarImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    margin-right: 20px;
}
.spendingType{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;

}