.itemsCard{
    background-color: #d5d4e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 5px 10px;
    border-radius: 4px;
}

.itemName{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkboxIcon{
    width: 20px;
    margin-right: 5px;
}

.itemText{
    font-size: 12px;
    font-weight: 500;
}