.sidebar{
    width: 25%;
    background-color:#f7f6fc;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    
}



.sidebarCardOne{
    display: flex;
    flex-direction: column;
}



.progressBarOne{
    flex: 7;
    height: 20px;
    border-radius: 4px;
    background-color: #545de6;
}

.progressBarTwo{
    flex: 3;
    height: 20px;
    border-radius: 4px;
    background-color: #ffa70f;
}